<h1>
  {{ title }}
</h1>

<button routerLink="/customers">Lazy 1</button>
<button routerLink="/orders">Lazy 2</button>
<button routerLink="/invoices">Lazy 3</button>
<button routerLink="/eager">Eager 1</button>
<button routerLink="/eager2">Eager 2</button>
<button routerLink="/eager3">Eager 3</button>

<router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
